# Server Configuration
PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/yourDatabaseName
CLIENT_URI=http://localhost:
SERVER_URI=http://localhost:
CLERK_WEBHOOK_SECRET=**********
# CORS ORIGIN
CORS_ORIGINS=http://localhost:3000,https://your-production-client-url.com
# CLERK
CLERK_PUBLISHABLE_KEY=test
CLERK_SECRET_KEY=***********
# CLOUDINARY
CLOUDINARY_API_KEY=test
CLOUDINARY_API_SECRET=***********
CLOUDINARY_CLOUD_NAME=test

